name: "Samsung Frame TV Art Changer"
description: "Automatically downloads and displays artwork on your Samsung Frame TV from Google Art, Bing Wallpapers, or your local media folder."
version: "1.0.3"
url: "https://github.com/vivalatech/homeassistant-addons"
slug: "hass-frametv-artchanger"
init: false
startup: once
boot: manual
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map:
  - "media:rw"
options:
  tv: "192.168.1.199"
  googleart: true
  download_high_res: true
  bing_wallpapers: false
  media_folder: false
schema:
  tv: "str?"
  googleart: "bool?"
  download_high_res: "bool?"
  bing_wallpapers: "bool?"
  media_folder: "bool?"
image: vivalatech/{arch}-addon-homeassistant-samsung-frametv-artchanger