name: "Samsung Frame TV Art Changer"
description: "Automatically downloads and displays artwork on your Samsung Frame TV from Google Art, Bing Wallpapers, or your local media folder."
version: "1.0.4"
url: "https://github.com/vivalatech/homeassistant-addons"
slug: "hass-frametv-artchanger"
init: false
startup: once
boot: manual
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map:
  - "media:rw"
options:
  tv: "192.168.1.199"
  google_art: true
  download_high_res: true
  bing_wallpapers: false
  media_folder: false
  same_image: false
  google_photos: false
  google_photos_album: ""
  google_photos_client_id: ""
  google_photos_client_secret: ""
schema:
  tv: "str?"
  google_art: "bool?"
  download_high_res: "bool?"
  bing_wallpapers: "bool?"
  media_folder: "bool?"
  same_image: "bool?"
  google_photos: "bool?"
  google_photos_album: "str?"
  google_photos_client_id: "str?"
  google_photos_client_secret: "password?"
image: vivalatech/{arch}-addon-homeassistant-samsung-frametv-artchanger